@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0');
  src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('../fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/
.atw_wrapper .icon-user,
.atw_wrapper .icon-people,
.atw_wrapper .icon-user-female,
.atw_wrapper .icon-user-follow,
.atw_wrapper .icon-user-following,
.atw_wrapper .icon-user-unfollow,
.atw_wrapper .icon-login,
.atw_wrapper .icon-logout,
.atw_wrapper .icon-emotsmile,
.atw_wrapper .icon-phone,
.atw_wrapper .icon-call-end,
.atw_wrapper .icon-call-in,
.atw_wrapper .icon-call-out,
.atw_wrapper .icon-map,
.atw_wrapper .icon-location-pin,
.atw_wrapper .icon-direction,
.atw_wrapper .icon-directions,
.atw_wrapper .icon-compass,
.atw_wrapper .icon-layers,
.atw_wrapper .icon-menu,
.atw_wrapper .icon-list,
.atw_wrapper .icon-options-vertical,
.atw_wrapper .icon-options,
.atw_wrapper .icon-arrow-down,
.atw_wrapper .icon-arrow-left,
.atw_wrapper .icon-arrow-right,
.atw_wrapper .icon-arrow-up,
.atw_wrapper .icon-arrow-up-circle,
.atw_wrapper .icon-arrow-left-circle,
.atw_wrapper .icon-arrow-right-circle,
.atw_wrapper .icon-arrow-down-circle,
.atw_wrapper .icon-check,
.atw_wrapper .icon-clock,
.atw_wrapper .icon-plus,
.atw_wrapper .icon-minus,
.atw_wrapper .icon-close,
.atw_wrapper .icon-event,
.atw_wrapper .icon-exclamation,
.atw_wrapper .icon-organization,
.atw_wrapper .icon-trophy,
.atw_wrapper .icon-screen-smartphone,
.atw_wrapper .icon-screen-desktop,
.atw_wrapper .icon-plane,
.atw_wrapper .icon-notebook,
.atw_wrapper .icon-mustache,
.atw_wrapper .icon-mouse,
.atw_wrapper .icon-magnet,
.atw_wrapper .icon-energy,
.atw_wrapper .icon-disc,
.atw_wrapper .icon-cursor,
.atw_wrapper .icon-cursor-move,
.atw_wrapper .icon-crop,
.atw_wrapper .icon-chemistry,
.atw_wrapper .icon-speedometer,
.atw_wrapper .icon-shield,
.atw_wrapper .icon-screen-tablet,
.atw_wrapper .icon-magic-wand,
.atw_wrapper .icon-hourglass,
.atw_wrapper .icon-graduation,
.atw_wrapper .icon-ghost,
.atw_wrapper .icon-game-controller,
.atw_wrapper .icon-fire,
.atw_wrapper .icon-eyeglass,
.atw_wrapper .icon-envelope-open,
.atw_wrapper .icon-envelope-letter,
.atw_wrapper .icon-bell,
.atw_wrapper .icon-badge,
.atw_wrapper .icon-anchor,
.atw_wrapper .icon-wallet,
.atw_wrapper .icon-vector,
.atw_wrapper .icon-speech,
.atw_wrapper .icon-puzzle,
.atw_wrapper .icon-printer,
.atw_wrapper .icon-present,
.atw_wrapper .icon-playlist,
.atw_wrapper .icon-pin,
.atw_wrapper .icon-picture,
.atw_wrapper .icon-handbag,
.atw_wrapper .icon-globe-alt,
.atw_wrapper .icon-globe,
.atw_wrapper .icon-folder-alt,
.atw_wrapper .icon-folder,
.atw_wrapper .icon-film,
.atw_wrapper .icon-feed,
.atw_wrapper .icon-drop,
.atw_wrapper .icon-drawer,
.atw_wrapper .icon-docs,
.atw_wrapper .icon-doc,
.atw_wrapper .icon-diamond,
.atw_wrapper .icon-cup,
.atw_wrapper .icon-calculator,
.atw_wrapper .icon-bubbles,
.atw_wrapper .icon-briefcase,
.atw_wrapper .icon-book-open,
.atw_wrapper .icon-basket-loaded,
.atw_wrapper .icon-basket,
.atw_wrapper .icon-bag,
.atw_wrapper .icon-action-undo,
.atw_wrapper .icon-action-redo,
.atw_wrapper .icon-wrench,
.atw_wrapper .icon-umbrella,
.atw_wrapper .icon-trash,
.atw_wrapper .icon-tag,
.atw_wrapper .icon-support,
.atw_wrapper .icon-frame,
.atw_wrapper .icon-size-fullscreen,
.atw_wrapper .icon-size-actual,
.atw_wrapper .icon-shuffle,
.atw_wrapper .icon-share-alt,
.atw_wrapper .icon-share,
.atw_wrapper .icon-rocket,
.atw_wrapper .icon-question,
.atw_wrapper .icon-pie-chart,
.atw_wrapper .icon-pencil,
.atw_wrapper .icon-note,
.atw_wrapper .icon-loop,
.atw_wrapper .icon-home,
.atw_wrapper .icon-grid,
.atw_wrapper .icon-graph,
.atw_wrapper .icon-microphone,
.atw_wrapper .icon-music-tone-alt,
.atw_wrapper .icon-music-tone,
.atw_wrapper .icon-earphones-alt,
.atw_wrapper .icon-earphones,
.atw_wrapper .icon-equalizer,
.atw_wrapper .icon-like,
.atw_wrapper .icon-dislike,
.atw_wrapper .icon-control-start,
.atw_wrapper .icon-control-rewind,
.atw_wrapper .icon-control-play,
.atw_wrapper .icon-control-pause,
.atw_wrapper .icon-control-forward,
.atw_wrapper .icon-control-end,
.atw_wrapper .icon-volume-1,
.atw_wrapper .icon-volume-2,
.atw_wrapper .icon-volume-off,
.atw_wrapper .icon-calendar,
.atw_wrapper .icon-bulb,
.atw_wrapper .icon-chart,
.atw_wrapper .icon-ban,
.atw_wrapper .icon-bubble,
.atw_wrapper .icon-camrecorder,
.atw_wrapper .icon-camera,
.atw_wrapper .icon-cloud-download,
.atw_wrapper .icon-cloud-upload,
.atw_wrapper .icon-envelope,
.atw_wrapper .icon-eye,
.atw_wrapper .icon-flag,
.atw_wrapper .icon-heart,
.atw_wrapper .icon-info,
.atw_wrapper .icon-key,
.atw_wrapper .icon-link,
.atw_wrapper .icon-lock,
.atw_wrapper .icon-lock-open,
.atw_wrapper .icon-magnifier,
.atw_wrapper .icon-magnifier-add,
.atw_wrapper .icon-magnifier-remove,
.atw_wrapper .icon-paper-clip,
.atw_wrapper .icon-paper-plane,
.atw_wrapper .icon-power,
.atw_wrapper .icon-refresh,
.atw_wrapper .icon-reload,
.atw_wrapper .icon-settings,
.atw_wrapper .icon-star,
.atw_wrapper .icon-symbol-female,
.atw_wrapper .icon-symbol-male,
.atw_wrapper .icon-target,
.atw_wrapper .icon-credit-card,
.atw_wrapper .icon-paypal,
.atw_wrapper .icon-social-tumblr,
.atw_wrapper .icon-social-twitter,
.atw_wrapper .icon-social-facebook,
.atw_wrapper .icon-social-instagram,
.atw_wrapper .icon-social-linkedin,
.atw_wrapper .icon-social-pinterest,
.atw_wrapper .icon-social-github,
.atw_wrapper .icon-social-google,
.atw_wrapper .icon-social-reddit,
.atw_wrapper .icon-social-skype,
.atw_wrapper .icon-social-dribbble,
.atw_wrapper .icon-social-behance,
.atw_wrapper .icon-social-foursqare,
.atw_wrapper .icon-social-soundcloud,
.atw_wrapper .icon-social-spotify,
.atw_wrapper .icon-social-stumbleupon,
.atw_wrapper .icon-social-youtube,
.atw_wrapper .icon-social-dropbox,
.atw_wrapper .icon-social-vkontakte,
.atw_wrapper .icon-social-steam {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.atw_wrapper .icon-user:before {
  content: "\e005";
}
.atw_wrapper .icon-people:before {
  content: "\e001";
}
.atw_wrapper .icon-user-female:before {
  content: "\e000";
}
.atw_wrapper .icon-user-follow:before {
  content: "\e002";
}
.atw_wrapper .icon-user-following:before {
  content: "\e003";
}
.atw_wrapper .icon-user-unfollow:before {
  content: "\e004";
}
.atw_wrapper .icon-login:before {
  content: "\e066";
}
.atw_wrapper .icon-logout:before {
  content: "\e065";
}
.atw_wrapper .icon-emotsmile:before {
  content: "\e021";
}
.atw_wrapper .icon-phone:before {
  content: "\e600";
}
.atw_wrapper .icon-call-end:before {
  content: "\e048";
}
.atw_wrapper .icon-call-in:before {
  content: "\e047";
}
.atw_wrapper .icon-call-out:before {
  content: "\e046";
}
.atw_wrapper .icon-map:before {
  content: "\e033";
}
.atw_wrapper .icon-location-pin:before {
  content: "\e096";
}
.atw_wrapper .icon-direction:before {
  content: "\e042";
}
.atw_wrapper .icon-directions:before {
  content: "\e041";
}
.atw_wrapper .icon-compass:before {
  content: "\e045";
}
.atw_wrapper .icon-layers:before {
  content: "\e034";
}
.atw_wrapper .icon-menu:before {
  content: "\e601";
}
.atw_wrapper .icon-list:before {
  content: "\e067";
}
.atw_wrapper .icon-options-vertical:before {
  content: "\e602";
}
.atw_wrapper .icon-options:before {
  content: "\e603";
}
.atw_wrapper .icon-arrow-down:before {
  content: "\e604";
}
.atw_wrapper .icon-arrow-left:before {
  content: "\e605";
}
.atw_wrapper .icon-arrow-right:before {
  content: "\e606";
}
.atw_wrapper .icon-arrow-up:before {
  content: "\e607";
}
.atw_wrapper .icon-arrow-up-circle:before {
  content: "\e078";
}
.atw_wrapper .icon-arrow-left-circle:before {
  content: "\e07a";
}
.atw_wrapper .icon-arrow-right-circle:before {
  content: "\e079";
}
.atw_wrapper .icon-arrow-down-circle:before {
  content: "\e07b";
}
.atw_wrapper .icon-check:before {
  content: "\e080";
}
.atw_wrapper .icon-clock:before {
  content: "\e081";
}
.atw_wrapper .icon-plus:before {
  content: "\e095";
}
.atw_wrapper .icon-minus:before {
  content: "\e615";
}
.atw_wrapper .icon-close:before {
  content: "\e082";
}
.atw_wrapper .icon-event:before {
  content: "\e619";
}
.atw_wrapper .icon-exclamation:before {
  content: "\e617";
}
.atw_wrapper .icon-organization:before {
  content: "\e616";
}
.atw_wrapper .icon-trophy:before {
  content: "\e006";
}
.atw_wrapper .icon-screen-smartphone:before {
  content: "\e010";
}
.atw_wrapper .icon-screen-desktop:before {
  content: "\e011";
}
.atw_wrapper .icon-plane:before {
  content: "\e012";
}
.atw_wrapper .icon-notebook:before {
  content: "\e013";
}
.atw_wrapper .icon-mustache:before {
  content: "\e014";
}
.atw_wrapper .icon-mouse:before {
  content: "\e015";
}
.atw_wrapper .icon-magnet:before {
  content: "\e016";
}
.atw_wrapper .icon-energy:before {
  content: "\e020";
}
.atw_wrapper .icon-disc:before {
  content: "\e022";
}
.atw_wrapper .icon-cursor:before {
  content: "\e06e";
}
.atw_wrapper .icon-cursor-move:before {
  content: "\e023";
}
.atw_wrapper .icon-crop:before {
  content: "\e024";
}
.atw_wrapper .icon-chemistry:before {
  content: "\e026";
}
.atw_wrapper .icon-speedometer:before {
  content: "\e007";
}
.atw_wrapper .icon-shield:before {
  content: "\e00e";
}
.atw_wrapper .icon-screen-tablet:before {
  content: "\e00f";
}
.atw_wrapper .icon-magic-wand:before {
  content: "\e017";
}
.atw_wrapper .icon-hourglass:before {
  content: "\e018";
}
.atw_wrapper .icon-graduation:before {
  content: "\e019";
}
.atw_wrapper .icon-ghost:before {
  content: "\e01a";
}
.atw_wrapper .icon-game-controller:before {
  content: "\e01b";
}
.atw_wrapper .icon-fire:before {
  content: "\e01c";
}
.atw_wrapper .icon-eyeglass:before {
  content: "\e01d";
}
.atw_wrapper .icon-envelope-open:before {
  content: "\e01e";
}
.atw_wrapper .icon-envelope-letter:before {
  content: "\e01f";
}
.atw_wrapper .icon-bell:before {
  content: "\e027";
}
.atw_wrapper .icon-badge:before {
  content: "\e028";
}
.atw_wrapper .icon-anchor:before {
  content: "\e029";
}
.atw_wrapper .icon-wallet:before {
  content: "\e02a";
}
.atw_wrapper .icon-vector:before {
  content: "\e02b";
}
.atw_wrapper .icon-speech:before {
  content: "\e02c";
}
.atw_wrapper .icon-puzzle:before {
  content: "\e02d";
}
.atw_wrapper .icon-printer:before {
  content: "\e02e";
}
.atw_wrapper .icon-present:before {
  content: "\e02f";
}
.atw_wrapper .icon-playlist:before {
  content: "\e030";
}
.atw_wrapper .icon-pin:before {
  content: "\e031";
}
.atw_wrapper .icon-picture:before {
  content: "\e032";
}
.atw_wrapper .icon-handbag:before {
  content: "\e035";
}
.atw_wrapper .icon-globe-alt:before {
  content: "\e036";
}
.atw_wrapper .icon-globe:before {
  content: "\e037";
}
.atw_wrapper .icon-folder-alt:before {
  content: "\e039";
}
.atw_wrapper .icon-folder:before {
  content: "\e089";
}
.atw_wrapper .icon-film:before {
  content: "\e03a";
}
.atw_wrapper .icon-feed:before {
  content: "\e03b";
}
.atw_wrapper .icon-drop:before {
  content: "\e03e";
}
.atw_wrapper .icon-drawer:before {
  content: "\e03f";
}
.atw_wrapper .icon-docs:before {
  content: "\e040";
}
.atw_wrapper .icon-doc:before {
  content: "\e085";
}
.atw_wrapper .icon-diamond:before {
  content: "\e043";
}
.atw_wrapper .icon-cup:before {
  content: "\e044";
}
.atw_wrapper .icon-calculator:before {
  content: "\e049";
}
.atw_wrapper .icon-bubbles:before {
  content: "\e04a";
}
.atw_wrapper .icon-briefcase:before {
  content: "\e04b";
}
.atw_wrapper .icon-book-open:before {
  content: "\e04c";
}
.atw_wrapper .icon-basket-loaded:before {
  content: "\e04d";
}
.atw_wrapper .icon-basket:before {
  content: "\e04e";
}
.atw_wrapper .icon-bag:before {
  content: "\e04f";
}
.atw_wrapper .icon-action-undo:before {
  content: "\e050";
}
.atw_wrapper .icon-action-redo:before {
  content: "\e051";
}
.atw_wrapper .icon-wrench:before {
  content: "\e052";
}
.atw_wrapper .icon-umbrella:before {
  content: "\e053";
}
.atw_wrapper .icon-trash:before {
  content: "\e054";
}
.atw_wrapper .icon-tag:before {
  content: "\e055";
}
.atw_wrapper .icon-support:before {
  content: "\e056";
}
.atw_wrapper .icon-frame:before {
  content: "\e038";
}
.atw_wrapper .icon-size-fullscreen:before {
  content: "\e057";
}
.atw_wrapper .icon-size-actual:before {
  content: "\e058";
}
.atw_wrapper .icon-shuffle:before {
  content: "\e059";
}
.atw_wrapper .icon-share-alt:before {
  content: "\e05a";
}
.atw_wrapper .icon-share:before {
  content: "\e05b";
}
.atw_wrapper .icon-rocket:before {
  content: "\e05c";
}
.atw_wrapper .icon-question:before {
  content: "\e05d";
}
.atw_wrapper .icon-pie-chart:before {
  content: "\e05e";
}
.atw_wrapper .icon-pencil:before {
  content: "\e05f";
}
.atw_wrapper .icon-note:before {
  content: "\e060";
}
.atw_wrapper .icon-loop:before {
  content: "\e064";
}
.atw_wrapper .icon-home:before {
  content: "\e069";
}
.atw_wrapper .icon-grid:before {
  content: "\e06a";
}
.atw_wrapper .icon-graph:before {
  content: "\e06b";
}
.atw_wrapper .icon-microphone:before {
  content: "\e063";
}
.atw_wrapper .icon-music-tone-alt:before {
  content: "\e061";
}
.atw_wrapper .icon-music-tone:before {
  content: "\e062";
}
.atw_wrapper .icon-earphones-alt:before {
  content: "\e03c";
}
.atw_wrapper .icon-earphones:before {
  content: "\e03d";
}
.atw_wrapper .icon-equalizer:before {
  content: "\e06c";
}
.atw_wrapper .icon-like:before {
  content: "\e068";
}
.atw_wrapper .icon-dislike:before {
  content: "\e06d";
}
.atw_wrapper .icon-control-start:before {
  content: "\e06f";
}
.atw_wrapper .icon-control-rewind:before {
  content: "\e070";
}
.atw_wrapper .icon-control-play:before {
  content: "\e071";
}
.atw_wrapper .icon-control-pause:before {
  content: "\e072";
}
.atw_wrapper .icon-control-forward:before {
  content: "\e073";
}
.atw_wrapper .icon-control-end:before {
  content: "\e074";
}
.atw_wrapper .icon-volume-1:before {
  content: "\e09f";
}
.atw_wrapper .icon-volume-2:before {
  content: "\e0a0";
}
.atw_wrapper .icon-volume-off:before {
  content: "\e0a1";
}
.atw_wrapper .icon-calendar:before {
  content: "\e075";
}
.atw_wrapper .icon-bulb:before {
  content: "\e076";
}
.atw_wrapper .icon-chart:before {
  content: "\e077";
}
.atw_wrapper .icon-ban:before {
  content: "\e07c";
}
.atw_wrapper .icon-bubble:before {
  content: "\e07d";
}
.atw_wrapper .icon-camrecorder:before {
  content: "\e07e";
}
.atw_wrapper .icon-camera:before {
  content: "\e07f";
}
.atw_wrapper .icon-cloud-download:before {
  content: "\e083";
}
.atw_wrapper .icon-cloud-upload:before {
  content: "\e084";
}
.atw_wrapper .icon-envelope:before {
  content: "\e086";
}
.atw_wrapper .icon-eye:before {
  content: "\e087";
}
.atw_wrapper .icon-flag:before {
  content: "\e088";
}
.atw_wrapper .icon-heart:before {
  content: "\e08a";
}
.atw_wrapper .icon-info:before {
  content: "\e08b";
}
.atw_wrapper .icon-key:before {
  content: "\e08c";
}
.atw_wrapper .icon-link:before {
  content: "\e08d";
}
.atw_wrapper .icon-lock:before {
  content: "\e08e";
}
.atw_wrapper .icon-lock-open:before {
  content: "\e08f";
}
.atw_wrapper .icon-magnifier:before {
  content: "\e090";
}
.atw_wrapper .icon-magnifier-add:before {
  content: "\e091";
}
.atw_wrapper .icon-magnifier-remove:before {
  content: "\e092";
}
.atw_wrapper .icon-paper-clip:before {
  content: "\e093";
}
.atw_wrapper .icon-paper-plane:before {
  content: "\e094";
}
.atw_wrapper .icon-power:before {
  content: "\e097";
}
.atw_wrapper .icon-refresh:before {
  content: "\e098";
}
.atw_wrapper .icon-reload:before {
  content: "\e099";
}
.atw_wrapper .icon-settings:before {
  content: "\e09a";
}
.atw_wrapper .icon-star:before {
  content: "\e09b";
}
.atw_wrapper .icon-symbol-female:before {
  content: "\e09c";
}
.atw_wrapper .icon-symbol-male:before {
  content: "\e09d";
}
.atw_wrapper .icon-target:before {
  content: "\e09e";
}
.atw_wrapper .icon-credit-card:before {
  content: "\e025";
}
.atw_wrapper .icon-paypal:before {
  content: "\e608";
}
.atw_wrapper .icon-social-tumblr:before {
  content: "\e00a";
}
.atw_wrapper .icon-social-twitter:before {
  content: "\e009";
}
.atw_wrapper .icon-social-facebook:before {
  content: "\e00b";
}
.atw_wrapper .icon-social-instagram:before {
  content: "\e609";
}
.atw_wrapper .icon-social-linkedin:before {
  content: "\e60a";
}
.atw_wrapper .icon-social-pinterest:before {
  content: "\e60b";
}
.atw_wrapper .icon-social-github:before {
  content: "\e60c";
}
.atw_wrapper .icon-social-google:before {
  content: "\e60d";
}
.atw_wrapper .icon-social-reddit:before {
  content: "\e60e";
}
.atw_wrapper .icon-social-skype:before {
  content: "\e60f";
}
.atw_wrapper .icon-social-dribbble:before {
  content: "\e00d";
}
.atw_wrapper .icon-social-behance:before {
  content: "\e610";
}
.atw_wrapper .icon-social-foursqare:before {
  content: "\e611";
}
.atw_wrapper .icon-social-soundcloud:before {
  content: "\e612";
}
.atw_wrapper .icon-social-spotify:before {
  content: "\e613";
}
.atw_wrapper .icon-social-stumbleupon:before {
  content: "\e614";
}
.atw_wrapper .icon-social-youtube:before {
  content: "\e008";
}
.atw_wrapper .icon-social-dropbox:before {
  content: "\e00c";
}
.atw_wrapper .icon-social-vkontakte:before {
  content: "\e618";
}
.atw_wrapper .icon-social-steam:before {
  content: "\e620";
}
