
/* style one */
#atw_style1 .atw_item .atw_overlay_content, #atw_style2 .atw_item .atw_overlay_content {
  width: -webkit-calc( 100% - 42px);
  width: calc( 100% - 42px);
  left: 21px;
  bottom: 0px;
  background: #fff;
  opacity: 0;
}

#atw_style1 .atw_item .atw_badge, #atw_style2 .atw_item .atw_badge {
  right: 10px;
  top: 10px;
}

#atw_style1 .atw_item .atw_badge span, #atw_style2 .atw_item .atw_badge span {
  background: #ff5500;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  color: #fff;
  display: inline-block;
  line-height: 50px;
  width: 50px;
  font-size: 14px;
  text-align: center;
}

#atw_style1 .atw_item .atw_product_actions, #atw_style2 .atw_item .atw_product_actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 16px 0 13px 0;
  -webkit-box-shadow: 0 5px 5px rgba(84, 77, 124, 0.1);
          box-shadow: 0 5px 5px rgba(84, 77, 124, 0.1);
}

#atw_style1 .atw_item .atw_product_actions li a, #atw_style2 .atw_item .atw_product_actions li a {
  font-size: 18px;
  color: #363940;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#atw_style1 .atw_item .atw_product_actions li a:hover, #atw_style2 .atw_item .atw_product_actions li a:hover {
  color: #ff5500;
}

#atw_style1 .atw_item:hover .atw_item_top .atw_overlay_content, #atw_style2 .atw_item:hover .atw_item_top .atw_overlay_content {
  opacity: 1;
  bottom: 20px;
}

#atw_style1 .atw_item .atw_item_bottom, #atw_style2 .atw_item .atw_item_bottom {
  padding-top: 20px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_title, #atw_style2 .atw_item .atw_item_bottom .atw_item_title {
  font-weight: 400;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_title a, #atw_style2 .atw_item .atw_item_bottom .atw_item_title a {
  color: #363940;
  font-size: 16px;
  line-height: 26px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_title a:hover, #atw_style2 .atw_item .atw_item_bottom .atw_item_title a:hover {
  color: #ff5500;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info, #atw_style2 .atw_item .atw_item_bottom .atw_item_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info .atw_price, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price {
  color: #ff5500;
  line-height: 48px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info .atw_price del, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price del {
  color: #9192a3;
  font-weight: 300;
  font-size: 14px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info .atw_price .atw_discount_ratio, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price .atw_discount_ratio {
  border: 1px solid #ff5500;
  font-size: 12px;
  color: #ff5500;
  line-height: 20px;
  padding: 0 7px;
  display: inline-block;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-left: 4px;
}

#atw_style1 .slider_control, #atw_style2 .slider_control {
  position: absolute;
  border: 1px solid #e4e4ed;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#atw_style1 .slider_control.icon-arrow-left, #atw_style2 .slider_control.icon-arrow-left {
  left: 0;
}

#atw_style1 .slider_control.icon-arrow-right, #atw_style2 .slider_control.icon-arrow-right {
  right: 0;
}

/* style one */
#atw_style1 .atw_item .atw_overlay_content, #atw_style2 .atw_item .atw_overlay_content {
  width: -webkit-calc( 100% - 42px);
  width: calc( 100% - 42px);
  left: 21px;
  bottom: 0px;
  background: #fff;
  opacity: 0;
}

#atw_style1 .atw_item .atw_badge, #atw_style2 .atw_item .atw_badge {
  right: 10px;
  top: 10px;
}

#atw_style1 .atw_item .atw_badge span, #atw_style2 .atw_item .atw_badge span {
  background: #ff5500;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  color: #fff;
  display: inline-block;
  line-height: 50px;
  width: 50px;
  font-size: 14px;
  text-align: center;
}

#atw_style1 .atw_item .atw_product_actions, #atw_style2 .atw_item .atw_product_actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 16px 0 13px 0;
  -webkit-box-shadow: 0 5px 5px rgba(84, 77, 124, 0.1);
          box-shadow: 0 5px 5px rgba(84, 77, 124, 0.1);
}

#atw_style1 .atw_item .atw_product_actions li a, #atw_style2 .atw_item .atw_product_actions li a {
  font-size: 18px;
  color: #363940;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#atw_style1 .atw_item .atw_product_actions li a:hover, #atw_style2 .atw_item .atw_product_actions li a:hover {
  color: #ff5500;
}

#atw_style1 .atw_item:hover .atw_item_top .atw_overlay_content, #atw_style2 .atw_item:hover .atw_item_top .atw_overlay_content {
  opacity: 1;
  bottom: 20px;
}

#atw_style1 .atw_item .atw_item_bottom, #atw_style2 .atw_item .atw_item_bottom {
  padding-top: 20px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_title, #atw_style2 .atw_item .atw_item_bottom .atw_item_title {
  font-weight: 400;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_title a, #atw_style2 .atw_item .atw_item_bottom .atw_item_title a {
  color: #363940;
  font-size: 16px;
  line-height: 26px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_title a:hover, #atw_style2 .atw_item .atw_item_bottom .atw_item_title a:hover {
  color: #ff5500;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info, #atw_style2 .atw_item .atw_item_bottom .atw_item_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info .atw_price, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price {
  color: #ff5500;
  line-height: 48px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info .atw_price del, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price del {
  color: #9192a3;
  font-weight: 300;
  font-size: 14px;
}

#atw_style1 .atw_item .atw_item_bottom .atw_item_info .atw_price .atw_discount_ratio, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price .atw_discount_ratio {
  border: 1px solid #ff5500;
  font-size: 12px;
  color: #ff5500;
  line-height: 20px;
  padding: 0 7px;
  display: inline-block;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-left: 4px;
}

#atw_style1 .slider_control, #atw_style2 .slider_control {
  position: absolute;
  border: 1px solid #e4e4ed;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#atw_style1 .slider_control.icon-arrow-left, #atw_style2 .slider_control.icon-arrow-left {
  left: 0;
}

#atw_style1 .slider_control.icon-arrow-right, #atw_style2 .slider_control.icon-arrow-right {
  right: 0;
}

#atw_style2 .atw_item:hover .atw_item_top .product-color .owl-dots {
  visibility: visible;
  opacity: 1;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots {
  position: absolute;
  right: 15px;
  top: 18px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 10px;
  padding: 3px;
  position: relative;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots .owl-dot.active {
  position: relative;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots .owl-dot.active:before {
  position: absolute;
  content: "";
  left: -5px;
  top: -5px;
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots .owl-dot:nth-child(2) {
  background: #383c59;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots .owl-dot:nth-child(3) {
  background: #fc8346;
}

#atw_style2 .atw_item .atw_item_top .product-color .owl-dots .owl-dot:last-child {
  margin-bottom: 0;
}

#atw_style2 .atw_item .atw_item_top .atw_overlay_content2 {
  z-index: 1;
  background: none;
  text-align: center;
}

#atw_style2 .atw_item .atw_item_bottom .atw_item_title {
  text-align: center;
}

#atw_style2 .atw_item .atw_item_bottom .atw_item_info {
  display: block;
  text-align: center;
}

#atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_price, #atw_style2 .atw_item .atw_item_bottom .atw_item_info .atw_rating {
  display: block;
}

#atw_style2 .atw_slider_controls {
  text-align: center;
}

#atw_style2 .atw_slider_controls .slider--control2 {
  margin: 40px 4px 0 4px;
  position: inherit;
  top: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#atw_style2 .atw_slider_controls .slider--control2:hover {
  background: #ff5500;
  color: #fff;
  border-color: #ff5500;
}

#atw_style11 .atw--single_item .atw_item_top .atw_item_view a {
  padding: 12px 25px !important;
}

.atw_wrapper .tab-content .tab-pane {
  display: block;
  height: 0;
}

.atw_wrapper .tab-content .active {
  height: auto;
}

.atw_wrapper .fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
  .atw_wrapper .fade {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.atw_wrapper .fade:not(.show) {
  opacity: 0;
}

.atw_wrapper .atw_btn {
  line-height: 35px;
  padding: 0 11px;
  background: #ff5500;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.atw_wrapper .atw_btn.atw_btn--light {
  border: 1px solid #e4e4ed;
  background: none;
  color: #9192a3;
}

.atw_wrapper .atw_btn.atw_btn--light:hover {
  border-color: #ff5500;
  background: #ff5500;
  color: #fff;
}

.atw_wrapper .atw_btn--icon span {
  padding-right: 10px;
  display: inline-block;
  font-size: 16px;
}

.atw_wrapper .atw_btn--radius {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.atw_wrapper .atw_btn--rounded {
  -webkit-border-radius: 25px !important;
          border-radius: 25px !important;
}

.atw_wrapper .atw_card {
  border: 1px solid #e4e4ed;
}

.atw_wrapper .atw_card.atw_card_rounded {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.atw_wrapper .atw_badge--default {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0 12px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
}

.atw_wrapper .atw_badge--default.atw_badge--left {
  background: #ff5500;
}

.atw_wrapper .atw_badge--default.atw_badge--right {
  background: #00b46a;
}

.atw_wrapper .atw_badge--default.atw_badge--blue {
  background: #0f9cf5;
}

.atw_wrapper .atw_badge--default.atw_badge--straight {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.atw_wrapper .atw_badge--rounded {
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

.atw_wrapper .atw_floated_badge {
  position: absolute;
}

.atw_wrapper .atw_floated_badge.badge--left {
  left: 10px;
  top: 10px;
}

.atw_wrapper .atw_floated_badge.badge--right {
  right: 10px;
  top: 10px;
}

.atw_wrapper .float-d-ratio {
  border: 1px solid #ff5500;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
  padding: 0 10px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-left: 4px;
  display: block;
  background: #ff5500;
}

.atw_wrapper.bgColor {
  background: #eff0f2;
  padding: 100px 0;
  margin-top: 80px;
  margin-bottom: 80px;
}

.atw_wrapper .atw_product_actions2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.atw_wrapper .atw_product_actions2 li {
  margin-right: 5px;
}

.atw_wrapper .atw_product_actions2 li:last-child {
  margin-right: 0;
}

.atw_wrapper .atw_product_actions2 li a.atw_btn {
  background: #0f9cf5;
  padding: 0 20px;
  line-height: 40px;
}

.atw_wrapper .atw_product_actions2 li:first-child a, .atw_wrapper .atw_product_actions2 li:last-child a {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #e4e4ed;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  color: #9192a3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.atw_wrapper .atw_product_actions2 li:first-child a:hover, .atw_wrapper .atw_product_actions2 li:last-child a:hover {
  border-color: #0f9cf5;
  color: #fff;
  background: #0f9cf5;
}

.atw_wrapper .atw_item_header {
  padding: 15px 15px 0 15px;
}

.atw_wrapper .atw_item_header .atw_item_cat {
  font-size: 12px;
  color: #9192a3;
  display: block;
  margin-bottom: 5px;
}

.atw_wrapper .atw_item_header .atw_item_title {
  font-weight: 400;
}

.atw_wrapper .atw_item_header .atw_item_title a {
  color: #363940;
  font-size: 16px;
  line-height: 26px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.atw_wrapper .atw_item_header .atw_item_title a:hover {
  color: #0f9cf5;
}

.atw_wrapper .atw_item_info2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.atw_wrapper .atw_item_info2 .atw_price {
  color: #0f9cf5;
}

.atw_wrapper .atw_item_info2 .atw_price del {
  color: #9192a3;
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  padding-left: 4px;
}

.atw_wrapper .atw_title {
  text-align: center;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 40px;
}

/*.atw_wrapper .atw_title:before {
  position: absolute;
  height: 2px;
  width: 50px;
  background: #e4e8ed;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}*/

.atw_wrapper .atw_title h3 {
  color: #202428;
  font-size: 24px;
  font-weight: 400;
}

.atw_wrapper .atw_item .atw_item_top {
  position: relative;
}

.atw_wrapper .atw_item .atw_item_top .atw_overlay_content, .atw_wrapper .atw_item .atw_item_top .atw_badge {
  position: absolute;
}

.atw_wrapper .atw_item .atw_item_top .atw_overlay_content {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.atw_wrapper .atw_item .atw_item_top .atw_product_actions li {
  display: inline-block;
}

.atw_wrapper .atw_item .atw_item_bottom .atw_item_info .atw_rating {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.atw_wrapper .atw_item .atw_item_bottom .atw_item_info .atw_rating .la {
  font-size: 16px;
  margin-right: 0;
}

.atw_wrapper .atw_item .atw_item_bottom .atw_item_info .atw_rating .la.la-star, .atw_wrapper .atw_item .atw_item_bottom .atw_item_info .atw_rating .la.la-star-half-o {
  color: #feb507;
}

.atw_wrapper .atw_item .atw_item_bottom .atw_item_info .atw_rating .la.la-star-o {
  color: #c6c6d3;
}

.atw_wrapper .atw_item .atw_item_bottom .atw_item_info .atw_rating .total-rating {
  font-size: 12px;
  color: #9192a3;
  display: inline-block;
  padding-left: 7px;
}

.atw_wrapper .slider_control {
  line-height: 38px;
  width: 40px;
  text-align: center;
  z-index: 2;
  display: inline-block;
  font-size: 12px;
  background: #fff;
  cursor: pointer;
}

.atw_wrapper .slider_control.slider_control_round {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.atw_wrapper .atw_grid_wrapper .atw_item {
  margin-bottom: 30px;
}

.atw_wrapper .atw_grid_wrapper img {
  width: 100%;
}

.atw_wrapper .atw_grid_wrapper.atw_slider_wrapper img {
  width: 100%;
}

.atw_wrapper .atw_slider_wrapper{
  position: relative;
}

.atw_wrapper.atw_grid #atw_style8 .atw_tabs .nav {
  margin-bottom: 25px;
}

.atw_wrapper .m-0 {
  padding-left: 0;
  padding-right: 0;
  margin-right: -1px;
  margin-top: -1px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.atw_wrapper .m-0 .atw_item {
  margin-bottom: 0;
}

.atw_wrapper .m-0:last-child {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.atw_wrapper .atw_grid_wrapper .atw_row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.atw_wrapper .atw_grid_wrapper .atw_grid--single{
  padding-left: 15px;
  padding-right: 15px;
}

.atw_wrapper .atw_grid_wrapper .atw_grid_6 {
  width: 16.66%;
}
.atw_wrapper .atw_grid_wrapper .atw_grid_5 {
  width: 20%;
}
.atw_wrapper .atw_grid_wrapper .atw_grid_4 {
  width: 25%;
}
.atw_wrapper .atw_grid_wrapper .atw_grid_3 {
  width: 33.33%;
}
.atw_wrapper .atw_grid_wrapper .atw_grid_2 {
  width: 50%;
}
.atw_wrapper .atw_grid_wrapper .atw_grid_1 {
  width: 100%;
}


/* Pagination Style */
.atbd_listing_pagination .nav-links{
  text-align: center !important;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.atbd_listing_pagination .pagination{
  border: 0 none;
  box-shadow: none;
  float: none;
  width: 100%;
  font-weight: normal;
  margin: 0;
}
.atbd_listing_pagination .pagination:before,
.atbd_listing_pagination .pagination:after{
  content: none;
}
.atbd_listing_pagination .nav-links .page-numbers{
  width: 35px !important;
  height: 35px;
  display: inline-flex !important;
  border: 1px solid #e4e4ed;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 13px;
  color: #666;
}
.atbd_listing_pagination .nav-links .page-numbers:not(.dots):hover{
  background: #444444 !important;
  border-color: #444444;
  color: #fff;
}

.atbd_listing_pagination .nav-links .page-numbers.current{
  background: #444444;
  border-color: #444444;
  color: #fff;
}

.atbd_listing_pagination .nav-links .page-numbers.prev,
.atbd_listing_pagination .nav-links .page-numbers.next{
  float: none;
  position: relative;
  left: auto;
  right: auto;
  background: none;
  color: #666;
}
.atbd_listing_pagination .nav-links .page-numbers.prev:hover,
.atbd_listing_pagination .nav-links .page-numbers.next:hover{
  background: #444444 !important;
  border-color: #444444;
  color: #fff;
  box-shadow: none;
}
.atbd_listing_pagination .nav-links .page-numbers:last-child{
  margin-right: 0;
}
.atbd_listing_pagination .nav-links .page-numbers:before,
.atbd_listing_pagination .nav-links .page-numbers:after,
.atbd_listing_pagination .nav-links:before,
.atbd_listing_pagination .nav-links:after{
  content: none !important;
}
.atbd_listing_pagination .nav-links .page-numbers span{
  height: auto;
  border: 0 none;
  font-size: 12px;
}
.atbd_listing_pagination .nav-links .page-numbers .fa{
  font-size: 11px;
  line-height: 0;
}

/* Lightbox Modal */
.featherlight .featherlight-inner p{
  font-size: 15px;
  line-height: 24px;
}
.featherlight .featherlight-inner p.add_to_cart_inline{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.featherlight .featherlight-inner .atw_product_desc h1{
  font-size: 30px !important;
}
.featherlight .featherlight-content{
  overflow: hidden !important;
}
.featherlight-content .add_to_cart_button,
.featherlight-content .add_to_cart_inline .button{
  padding: 10px 15px;
  border-radius: 3px;
}



/*****************************
	RESPONSIVE
*****************************/
/*this is responsive scss*/
/* 992 TO 1199 */
@media (min-width: 768px) and (max-width: 1024px) {

  .atw_wrapper .atw_grid_wrapper .atw_tab_4 {
    width: 25%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_tab_3 {
    width: 33.33%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_tab_2 {
    width: 50%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_tab_1 {
    width: 100%;
  }


}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .atw_wrapper .atw_grid_wrapper .atw_tab_4 {
    width: 25%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_tab_3 {
    width: 33.33%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_tab_2 {
    width: 50%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_tab_1 {
    width: 100%;
  }

}
@media (min-width: 481px) and (max-width: 767px) {

  .atw_wrapper .atw_grid_wrapper .atw_mobile_4 {
    width: 25%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_mobile_3 {
    width: 33.33%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_mobile_2 {
    width: 50%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_mobile_1 {
    width: 100%;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .atw_wrapper .atw_grid_wrapper .atw_mobile_4 {
    width: 25%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_mobile_3 {
    width: 33.33%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_mobile_2 {
    width: 50%;
  }
  .atw_wrapper .atw_grid_wrapper .atw_mobile_1 {
    width: 100%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  #atw_style5 .atw--single_item .atw_item_top .atw_overlay_content {
    left: 20px;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
  }
  .atw_wrapper .m-0:last-child {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* 991 */
@media (max-width: 991px) {
  .atw_wrapper .m-0:last-child {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* 768 TO 992*/
/* 767 */
/* 320 TO 575 */
@media (min-width: 320px) and (max-width: 480px) {
  .atw_wrapper .m-0 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.owl-carousel{
  display: block !important;
}

